nav {
    background-color: #27496d;
    display: flex;
    div {
        width: 6vw;
        padding: 1.5vw 1vw;
        text-align: center;
        font-size: 1.3vw;
        font-family: sans-serif;
    }
    div:hover {
        background-color: orange;
    }
    a {
        text-decoration: none;
        color: white;
    }
}