/*styilng for Header*/

@import "./header";

/*styilng for Navbar*/

@import "./navbar";

/*styilng for Main content*/

@import "./main";

/*styilng for Footer*/

@import "./footer";
body {
    color: white;
}


/*Media Queries starts*/

@media screen and (max-width: 500px) {
    main {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        .movie_wrapper {
            width: 60vw;
            height: 30vw;
            align-items: center;
            justify-content: center;
            margin: 0.5vw;
            padding: 0;
            background-color: rgb(35, 48, 53);
            border-radius: 5px;
        }
    }
}


/*Media Queries ends*/